In [17]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [18]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\shreh\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

### Visit the NASA Mars News Site

In [19]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [20]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [21]:
slide_elem

<div class="list_text">
<div class="list_date">April 27, 2022</div>
<div class="content_title">Heat and Dust Help Launch Martian Water Into Space, Scientists Find</div>
<div class="article_teaser_body">Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible. </div>
</div>

In [22]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'Heat and Dust Help Launch Martian Water Into Space, Scientists Find'

In [23]:
news_p = slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

'Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible. '

### Featured Images

In [24]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [25]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [26]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [27]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [28]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts Table

In [29]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [30]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Challenge - Scraping the hemisphere image of Mars

In [32]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'
browser.visit(url)

In [ ]:
# Find the hemisphere images and store them in a variable 
full_image_elem = browser.find_by_css('img.thumb')

In [ ]:
# 2. Create a list to hold the dictionaries of images and titles extracted for each hemisphere.
hemisphere_image_urls = []

for i in range(len(full_image_elem)):
    # Create an empty dictionary to hold the image url and the title 
    hemispheres = {}
    print(i)
    #Click the image on the website
    browser.find_by_css('img.thumb')[i].click()
    #full_image_elem[i].click()
    print(full_image_elem[i])
    #Parse the html of the browser visited after clicking the image
    html = browser.html
    image_soup = soup(html, 'html.parser')
    #Find the image of the hemisphere on the webpage
    image_soup1 = image_soup.find('div',class_ = "downloads")
    # Retrieve the url of the .jpg image url  
    temp_url = image_soup1.a["href"]
    #Create a full url and store in the dictionary - hemispheres
    hemispheres['img_url'] = 'https://marshemispheres.com/' + temp_url
    #Retrieve the title of the image from the 'h2' tag
    hemispheres['title'] = image_soup.find('div',class_ = "cover").h2.text
    print(hemispheres)
    #Finally append the dictionary containing the url and the title of the image to the List - hemisphere_image_urls
    hemisphere_image_urls.append(hemispheres)
    print(hemisphere_image_urls)
    print(i)
    # Go back to the main page to retrive the information of the other hemisphere image
    browser.back()
print(hemisphere_image_urls)

In [31]:
browser.quit()